                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Education</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="{% url 'users:updateEducation' user.username %}" enctype="multipart/form-data" class="row">
                                        {% csrf_token %}
                                        <!-- Title -->
                                        <div class="mb-3 col-12 col-md-6">
                                            <label class="form-label" for="fname">Title</label>
                                            <input type="text" name="title" class="form-control">
                                        </div>
                                        <!-- Level -->
                                        <div class="mb-3 col-12 col-md-6">
                                            <label class="form-label" for="lname">Level</label>
                                            <select class="form-select" name="level">
                                                <option value="High school or equivalent">High school or equivalent</option>
                                                <option value="Certification">Certification</option>
                                                <option value="Vocational">Vocational</option>
                                                <option value="Bachelors deegree">Bachelors deegree</option>
                                                <option value="Masters deegree">Masters deegree</option>
                                                <option value="Doctorate">Doctorate</option>
                                              </select>
                                        </div>
                                        <!-- Name of deegree -->
                                        <div class="mb-3 col-12 col-md-6">
                                            <label class="form-label" for="lname">Name of deegree</label>
                                            <input type="text" name="name_of_deegree" class="form-control" value="{{education.name_of_deegree}}" required>
                                        </div>
                                        <!-- Start date -->
                                        <div class="mb-3 col-12 col-md-6">
                                            <label class="form-label" for="lname">Start date</label>
                                            <input type="date" name="start" class="form-control" value="{{education.start}}" required>
                                        </div>
                                         <!-- End date -->
                                        <div class="mb-3 col-12 col-md-6">
                                            <label class="form-label" for="lname">End date</label>
                                            <input type="date" name="end" class="form-control" value="{{education.start}}" required>
                                        </div>
                    
                                                    
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
    
                                    </form>
                                </div>
    
                                </div>
                            </div>
                            </div>
    