{% extends 'users/profile/layouts/detail.html' %}
{% block cont %}
<div class="col-lg-9 col-md-8 col-12">
    <!-- Card -->
    <div class="card">
        <!-- Card header -->
        <div class="card-header">
            <h3 class="mb-0">Profile Details</h3>
            <p class="mb-0">
                You have full control to manage your own account setting.
            </p>
        </div>
        <!-- Card body -->
        <div class="card-body">
            <div class="d-lg-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center mb-4 mb-lg-0">
                    <img src="{{user.avatar.url}}" id="img-uploaded" class="avatar-xl rounded-circle" alt="">
                    <div class="ms-3">
                        <h4 class="mb-0">Your avatar</h4>
                        <p class="mb-0">
                            PNG or JPG no bigger than 800px wide and tall.
                        </p>
                    </div>
                </div>
                <div>
                    <a href="#" class="btn btn-outline-secondary btn-sm">Update</a>
                    <a href="#" class="btn btn-outline-danger btn-sm">Delete</a>
                </div>
            </div>
            <hr class="my-5">
            <div>
                <h4 class="mb-0">Personal Details</h4>
                <p class="mb-4">
                    Edit your personal information and address.
                </p>
                <!-- Form -->
                <form method="POST" action="/users/settings/{{user.username}}/update/" enctype="multipart/form-data" class="row">
                    {% csrf_token %}
                    <!-- First name -->
                    <div class="mb-3 col-12 col-md-6">
                        <label class="form-label" for="fname">First Name</label>
                        <input type="text" name="first_name" class="form-control" value="{{user.first_name}}">
                    </div>
                    <!-- Last name -->
                    <div class="mb-3 col-12 col-md-6">
                        <label class="form-label" for="lname">Last Name</label>
                        <input type="text" name="last_name" class="form-control" value="{{user.last_name}}">
                    </div>
                    <!-- Username -->
                    <div class="mb-3 col-12 col-md-6">
                        <label class="form-label" for="lname">Username</label>
                        <input type="text" name="username" class="form-control" value="{{user.username}}" required>
                    </div>
                    <!-- Email -->
                    <div class="mb-3 col-12 col-md-6">
                        <label class="form-label" for="lname">Email</label>
                        <input type="email" name="email" class="form-control" value="{{user.email}}" required>
                    </div>
                    <!-- Phone -->
                    <div class="mb-3 col-12 col-md-6">
                        <label class="form-label" for="phone">Phone</label>
                        <input type="text" name="phone" id="phone" class="form-control" value="{{user.phone}}">
                    </div>

                    <!-- Address -->
                    <div class="mb-3 col-12 col-md-6">
                        <label class="form-label" for="address">Address</label>
                        <input type="text" name="address" class="form-control" value="{{user.address}}">
                    </div>
                    <!-- Gender -->
                    <label class="form-label" for="gender">Gender</label>
                    <div class="mb-3 col-12 col-md-6">
                        <div class="form-check form-check-inline">
                          <input id="Male" name="gender" type="radio" value="Male" class="form-check-input" {% if user.gender == 'Male' %}checked{% endif %}>
                          <label class="form-check-label" for="Male">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input id="Female" name="gender" type="radio" value="Female" class="form-check-input"  {% if user.gender == 'Female' %}checked{% endif %}>
                          <label class="form-check-label" for="Female">Female</label>
                        </div>
                      </div>

                    <!-- About -->
                    <div class="mb-3 col-12 col-md-12">
                        <label class="form-label" for="about">About</label>
                        <textarea type="text" name="about" class="form-control" style="height: 128px;">{{user.about}}</textarea>
                    </div>

                    <div class="col-12">
                        <!-- Button -->
                        <button class="btn btn-primary" type="submit">
                            Update Profile
                        </button>
                    </div>
                </form>
                {% if messages %}
                {% for message in messages  %}
                <div class="alert {{ message.tags }} mt-5" role="alert">
                  <p>{{message}}</p>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock cont %}